<h3> Featured Projects </h3>
<div class="row row-cols-3 m-3 mt-5">
    <!-- Local Projects -->
    {% for project in site.projects %}

    {%- if project.featured -%}

    {%- assign project_type = "local" -%}
    {%- assign project_id = project.name | slugify -%}
    {%- assign project_img = project.image -%}
    {%- assign project_name = project.name -%}
    {%- assign project_desc = project.description -%}
    {%- assign project_tools = project.tools -%}
    {%- assign project_featured = project.featured -%}

    {%- if project.external_url -%}
    {%- assign project_url = project.external_url -%}
    {%- assign external = true -%}
    {%- else -%}
    {%- assign project_url = project.url | relative_url -%}
    {%- assign external = false -%}
    {%- endif -%}

    {% include projects/project-card.html %}

    {%- endif -%}

    {% endfor %}

</div>