    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me</h2>
              <br/>
              <div class="lead">
                <p>Hello, I'm Shivi.</p>
                <p>I am a Masters student, living in Austria and working as a Research Intern at my University.</p>
                <p>Programming, specifically Game Development, is a particular area of interest for me.</p>
                <p>I like creating different kinds of projects, and I'm always looking to learn new frameworks!</p>
              </br>
                <p>Along with programming and games, I have a passion for cars, and eating and cooking food.</p>
                <p>I talk about all these things and more of my random thoughts in my portfolio and my blogs.</p>
                <p>With that said, welcome to my small corner of the internet! My sites can be found below.</p>
            </br>
                <p>I'm also looking for a Game Dev job, preferably in Germany, starting from January 2022!</p>
                <p>If you're interested, contact me at shivivats.dev@gmail.com or at one of my socials.</p>
            </div>
                <br/>
              </div>
        </div>
    </section>
