// $dark-illustration-primary: #007bff;
// $timeline: #6200ff;
// $dark-illustration-secondary: #6c757d;
// $success: #28a745;
// $info: #17a2b8;
// $warning: #ffc107;
// $danger: #dc3545;
// $light: #f8f9fa;
// $dark: #121629;

// $text-black: #343a40;
// $text-white: rgba(white, .9);

// https://sass-lang.com/documentation/variables/

// LIGHT THEME (Also default initialisations)
$background: #242629;
$heading: #94a1b2;
$text: #94a1b2;

$quote-heading: #9f79e0;
$quote-text: #94a1b2;

$card-background: #94a1b2;
$button-background: #94a1b2;
$buton-text: #94a1b2;

$button-text: $heading;
$link: $button-background;

$border: #94a1b2;

$input-background: $card-background;
$input-text: $button-text;

$link-text: #94a1b2;
$link-hover: #94a1b2;
$link-visited: #94a1b2;

$highlight: $link-text;

$primary: $link-text;
$secondary: $link-hover;
$tertiary: $link-visited;

// DARK THEME
[data-bs-theme="dark"] {
    $background: #2b2a33 !global;
    $heading: #9f79e0 !global;
    $text: #E0E0E0 !global;

    $quote-heading: #b596eb !global;
    $quote-text: #94a1b2 !global;

    $card-background: #3b3a41 !global;
    $button-background: #FFD740 !global;
    $button-text: #1A1A1A !global;

    $link: $button-background !global;

    $border: #555555 !global;

    $input-background: $card-background !global;
    $input-text: $button-text !global;

    $link-text: #64B5F6 !global;
    $link-hover: #FFFFFF !global;
    $link-visited: #42A5F5 !global;

    $highlight: #7D79E0 !global;

    $primary: $link-text !global;
    $secondary: $link-hover !global;
    $tertiary: $link-visited !global;
}

$rounded-borders: 15px;

// Colours for my blog posts based on category
$web-dev: #17a2b8;
$game-dev: #28a745;
$dnd: #f9ca30;
$academia: #3a91ef;
$personal: #dc3545;
$technology: #4f5356;

// can also make subtle colours like so
$web-dev-subtle: #a2d6de;
$game-dev-subtle: #7ac98c;
$dnd-subtle: #e0ce93;
$academia-subtle: #86bcf7;
$personal-subtle: #e47b85;
$technology-subtle: #acaeb0;

// https://getbootstrap.com/docs/5.3/customize/color/#colors
// make these classes based on the default bootstrap classes

// web-dev
.bg-web-dev {
    --bs-bg-opacity: 1;
    background-color: rgba($web-dev, var(--bs-bg-opacity)) !important;
}

.border-web-dev {
    --bs-border-opacity: 1;
    border-color: rgba($web-dev, var(--bs-border-opacity)) !important;
}

.bg-web-dev-subtle {
    background-color: $web-dev-subtle !important;
}

.border-web-dev-subtle {
    border-color: $web-dev-subtle !important;
}

// game-dev
.bg-game-dev {
    --bs-bg-opacity: 1;
    background-color: rgba($game-dev, var(--bs-bg-opacity)) !important;
}

.border-game-dev {
    --bs-border-opacity: 1;
    border-color: rgba($game-dev, var(--bs-border-opacity)) !important;
}

.bg-game-dev-subtle {
    background-color: $game-dev-subtle !important;
}

.border-web-dev-subtle {
    border-color: $game-dev-subtle !important;
}

// dnd
.bg-dnd {
    --bs-bg-opacity: 1;
    background-color: rgba($dnd, var(--bs-bg-opacity)) !important;
}

.border-dnd {
    --bs-border-opacity: 1;
    border-color: rgba($dnd, var(--bs-border-opacity)) !important;
}

.bg-dnd-subtle {
    background-color: $dnd-subtle !important;
}

.border-dnd-subtle {
    border-color: $dnd-subtle !important;
}

// academia
.bg-academia {
    --bs-bg-opacity: 1;
    background-color: rgba($academia, var(--bs-bg-opacity)) !important;
}

.border-academia {
    --bs-border-opacity: 1;
    border-color: rgba($academia, var(--bs-border-opacity)) !important;
}

.bg-academia-subtle {
    background-color: $academia-subtle !important;
}

.border-academia-subtle {
    border-color: $academia-subtle !important;
}

// personal
.bg-personal {
    --bs-bg-opacity: 1;
    background-color: rgba($personal, var(--bs-bg-opacity)) !important;
}

.border-personal {
    --bs-border-opacity: 1;
    border-color: rgba($personal, var(--bs-border-opacity)) !important;
}

.bg-personal-subtle {
    background-color: $personal-subtle !important;
}

.border-personal-subtle {
    border-color: $personal-subtle !important;
}

// technology
.bg-technology {
    --bs-bg-opacity: 1;
    background-color: rgba($technology, var(--bs-bg-opacity)) !important;
}

.border-technology {
    --bs-border-opacity: 1;
    border-color: rgba($technology, var(--bs-border-opacity)) !important;
}

.bg-technology-subtle {
    background-color: $technology-subtle !important;
}

.border-technology-subtle {
    border-color: $technology-subtle !important;
}