{%- comment -%} Determine Post URL {%- endcomment -%}
{%- if post.external_url -%}
{%- assign post_url = post.external_url -%}
{%- else -%}
{%- assign post_url = post.url | relative_url -%}
{%- endif -%}

<div class="col-lg-6 my-3 wow animated fadeIn" data-wow-delay=".15s">
  <a href="{{ post_url }}" class="post card {{ card_style }}" {%- if post.external_url and site.open_new_tab -%} target="_blank" {%- endif -%}>
    <div class="card-body">
      <h3 class="card-title">{{ post.title }}</h3>
      <p class="card-text">
        {% if post.category %}
        <span class="badge rounded-pill {{ post.category }}">{{ post.category }}</span>
        {% endif %}
      </p>
      <p class="card-text">
        {% for tag in post.tags %}
        <span class="badge">{{ tag }}</span>
        {% endfor %}
      </p>
      <p class="card-text">
        {%- if post.description -%}
        {{ post.description }}
        {%- else -%}
        {{ post.content | truncatewords: 25, "<small><i> read more...</i></small>" }}
        {%- endif -%}
      </p>
    </div>
    <div class="card-footer">
      {{ post.date | date_to_long_string }}
      <!-- add the author as well to make sure people know it was written by me!! -->
      &#9679;
      <span style="text-align:left;"> written by {{ post.author }} </span>
    </div>
  </a>
</div>