---
layout: page
title: About Me
permalink: /about/
weight: 5
---

<h2>About Me</h2>
<div class="row">
    <div class="col-sm">
        <img src="/assets/images/Me/shivi_vats_square.jpg" class="rounded float-right img-fluid" width="100%"/>
    </div>
    <div class="col-sm-9 align-self-center">
        <div class="lead">Hi! I am <strong style="color:#9f79e0">{{ site.author.name }}</strong> :wave:,<br></div>
        <div style="display:flex; align-items: center;">
            {% include about/summary_lead.html %}
            <!-- <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image" style="max-height:200px; width:200px;border-radius: 50%;"> -->
        </div>
    </div>
    {% include about/summary.html %}
</div>

<p>
    Please download my CV as a PDF (<a href="/assets/documents/Resumes/Academic/VATS_Shivi_CV.pdf">academia</a>, <a href="/assets/documents//Resumes/Tech/VATS_Shivi_CV.pdf">software engineering</a>, or <a href="/assets/documents/Resumes/GameDev/VATS_Shivi_CV.pdf">game development</a> oriented), or continue reading this page for more information.
</p>

<p>You can reach me at <a class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="mailto:shivivats7@gmail.com">shivivats7@gmail.com</a>.</p>

{% include about/stats.html %}

<div class="row">
    <h2 class="pb-2 border-bottom"> Work Experience</h2>
    {% include about/timeline_work_experience.html %}
</div>

<div class="row">
    <h2 class="pb-2 border-bottom">Education </h2>
    {% include about/timeline_education.html %}
</div>

<div class="row">
    <h2 class="pb-2 border-bottom"> Publications </h2>
    {% include about/publications.html %}
</div>

<div class="row">
    <h2 class="pb-2 border-bottom"> News </h2>
    {% include about/news.html %}
</div>
