---
layout: default
title: Blog
weight: 4
permalink: /blog/
---

<div class="mt-4">
    <h3>Hi, thanks for visiting my blog! </h3>
    <p class="lead">I've been recently revamping my website in all the other areas, so I'm putting the blog posts on the back burner for now. Thus, please be patient and check back in some weeks as I get around to updating the content here!<br />
        In the meanwhile, you can check out my <a href="/projects/">games</a>, <a href="/academic-work/">academic work</a>, or <a href="/about/">read more about me</a>!</p>
</div>
{% include blog/search.html %}
{% include blog/index.html %}