---
layout: default
title: Blog
weight: 4
permalink: /blog/
---

<div class="mt-4">
    <h3>Hi, thanks for visiting my blog! </h3>
    <p class="lead">I've recently switched to a new website theme, so I'm using this opportunity to refresh my blog posts (or completely re-writing them, in most cases). Thus, please be patient and check back in a week or two for more content!<br />
        In the meanwhile, you can check out my <a href="/projects/">games</a>, <a href="/academic-work/">academic work</a>, or <a href="/about/">read more about me</a>!</p>
</div>
{% include blog/search.html %}
{% include blog/index.html %}