---
layout: default
title: Games
permalink: /projects/
weight: 1
---

<div class="mt-4">
    <h1>Games</h1>
    <p class="lead">These are some of the games I've developed, with the more prominent ones highlighted and presented at the top. You can navigate the projects by scrolling or by filtering via the tags. The projects cards can be clicked to learn more about the project and my thoughts and reflections on the development process.</p>
</div>

<!-- Collect tools list from all projects -->
{%- assign tools = blank -%}
{%- for project in site.projects -%}
{%- assign project_tools = project.tools | join:'|' | append:'|' -%}
{%- if project_tools != '|' -%}
{%- assign tools = tools | append:project_tools -%}
{%- endif -%}
{%- endfor -%}
{%- assign tools = tools | split:'|' | uniq | sort -%}


<!-- List tags -->
<h3>Tags</h3>
<button type="button" class="btn btn-primary my-1" aria-expanded="false" id="buttonAll" onClick="showAllCards()">All</button>
{% for tool in tools %}
<button type="button" class="btn btn-primary my-1" aria-expanded="false" id="{{ 'button' | append: tool | slugify }}" onClick="collapseCardsForThisButton(this)">{{ tool }}</button>
{% endfor %}


{% include projects/index.html %}